* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
:root {
    --primary-color:background: #FFB900;
    --font-heading: 'Sen', sans-serif;
}
